<form action="/create" method="post">
  First name: <input type="string" name="title"><br>
  Last name: <input type="text" name="content"><br>
  hashtag <input type="string" name="hashtag"><br>
  <input type="submit" value="Submit">
</form>

<% @posts.each do |p| %>
    <p><%= p.title%></p>
    <p><%= p.content%></p><br/>
    <% p.comments.each do |c| %>
        <p><%=c.content%></p>
    <% end %>
    <form action="/create/<%=p.id%>" method="post">
      Content <input type="text" name="content"><br>
      <input type="submit" value="Submit">
    </form>
    
    <br/><br/>
<% end %>